.daily-god-wrapper h3 {
  font-family: "Caesar Dressing", serif;
}

.main-top-wrapper h2 {
  font-family: "Caesar Dressing", serif;
}

p {
  font-family: "Bubbler One", sans-serif;
}
.pantheon-filter-wrapper p {
  font-family: "Caesar Dressing", serif;
}
