body {
  font-family: "Bubbler One", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.main-top-wrapper h1,
.pantheons-filter,
.pantheons-card h2,
.daily-god-wrapper h2,
.daily-god-wrapper h3,
.daily-god-wrapper h4 {
  font-family: "Caesar Dressing", serif;
}
