.pantheons-card-img {
  width: 100%;
  height: 216px;
  object-fit: cover;
}

.pantheons-card {
  overflow: hidden;
  border-radius: 8px;
}

.pantheons-card-top {
  position: relative;
}

.pantheons-card.hide {
  display: none;
}

.pantheons-card a {
  text-decoration: none;
}

.pantheons-card-text {
  padding: 12px;
}

.pantheons-card-text-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.pantheons-card-text-top img {
  width: 16px;
}

.pantheons-card-title {
  position: absolute;
  padding: 8px 12px;
  bottom: 0;
  display: inline;
  background: var(--color-bg);
}

.pantheons-card-bookmark {
  position: absolute;
  top: 12px;
  right: 12px;
}

.pantheons-filter-wrapper {
  position: sticky;
}

.pantheons-filter input[type="radio"] {
  display: none; /* Cache les vrais boutons radio */
}

.pantheons-filter input[type="radio"]:checked + label {
  background: var(--color-blue);
  color: white;
}

.pantheons-filter label {
  cursor: pointer; /* Montre que c'est cliquable */
  padding: 12px 8px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-bg);
}
