.pantheons-card img {
  width: 100%;
  height: 216px;
  object-fit: cover;
}

.pantheons-card a {
  text-decoration: none;
}

.pantheons-card {
  overflow: hidden;
  border-radius: 8px;
}

.pantheons-filter-wrapper input[type="radio"] {
  display: none; /* Cache les vrais boutons radio */
}

.pantheons-filter-wrapper input[type="radio"]:checked + label {
  background: var(--color-blue);
  color: white;
}

.pantheons-filter-wrapper label {
  cursor: pointer; /* Montre que c'est cliquable */
  padding: 12px 8px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-bg);
}
